HTTP_PORT=8080
HTTPS_PORT=4430
MAILCATCHER_HTTP_PORT=1080
MAILCATCHER_SMTP_PORT=1025

ECCUBE_IMAGE=ghcr.io/ec-cube/ec-cube-php:8.1-apache
ECCUBE_ADMIN_ROUTE=admin
ECCUBE_ADMIN_USER=admin
ECCUBE_ADMIN_PASS=password
ECCUBE_AUTH_MAGIC=portfolio-demo-auth-magic-change-me
